<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?define AppPathsKey = "SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Hourglass.exe" ?>

  <Bundle
    Name="Hourglass"
    Version="1.15.53.0"
    Manufacturer="2021 Chris Dziemborowicz, 2024-$(var.CurrentYear) Ivan Ivon"
    UpgradeCode="f1d002c9-cfc9-40fb-84af-96e7aec26e0b"
    IconSourceFile="$(var.Hourglass.ProjectDir)Resources\AppIcon.ico">

    <!-- Specify a "sensible default" install location -->
    <Variable Name="InstallFolder" Type="formatted" Value="[ProgramFilesFolder]Hourglass" />
    <Variable Name="HourglassInstalled" Type="numeric" Value="0" />
    <Variable Name="DisplayVersion" Type="string" Value="$(var.DisplayVersion)" />

    <util:RegistrySearch Id="HourglassInstallSearch" Root="HKLM" Key="$(var.AppPathsKey)" Variable="HourglassInstalled" Result="exists" />
    <util:RegistrySearch Id="HourglassExePathSearch" Root="HKLM" Key="$(var.AppPathsKey)" Variable="LaunchTarget" Result="value" />
    <util:RegistrySearch Id="HourglassInstallFolderSearch" Root="HKLM" Key="$(var.AppPathsKey)" Value="Path" Variable="InstallFolder" Result="value" />

    <bal:Condition Condition="VersionNT >= v10.0" Message="[WixBundleName] requires Windows 10 or later." />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="MIT.rtf" LogoFile="Logo.png" Theme="rtfLicense" ThemeFile="Theme.xml" LocalizationFile="Theme.wxl" LaunchTarget="[InstallFolder]\Hourglass.exe" />
    </BootstrapperApplication>
    <Chain>
      <PackageGroupRef Id="NetFx48Web" />
      <MsiPackage Id="HourglassSetup" SourceFile="$(var.Hourglass.Setup.TargetPath)">
        <!-- Pass this selection down to the Hourglass.Setup msi -->
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
